@model IEnumerable<MvcMovie.Models.Genre>

@{
	// ViewData["Title"] = "Index";
	ViewBag.Title = "Store";
}

<h1>Browse Genres</h1>

<p>
	<a asp-action="Create">Create New</a>
</p>
<p>
	Select from @Model.Count() genres:
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Name)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					<a href="/Store/Browse?genre=@item.Name">@Html.DisplayFor(modelItem => item.Name)</a>

				</td>
				<td>
					@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
					@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
					@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
				</td>
			</tr>
		}
	</tbody>
</table>
